<!DOCTYPE html>
<meta charset="utf-8">
  <link rel="stylesheet" type="text/css">

<style>

    body {
        background: linear-gradient(to right, rgba(14,55,77,255), rgba(83,102,100,255),  rgba(14,55,77,255));
    }


    .selector {
        color: rgb(255,236,189);
        font: 25px arial, sans-serif;
    }

    .selectorButton {
        font: 35px arial, sans-serif;
    }

    .selectorList {
        margin-top: -50px; 
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #0E374D;
      shape-rendering: crispEdges;
    }

    .x.axis path {
      display: none;
    }

    .line {
      fill: none;
      stroke: #0E374D;
      stroke-width: 5px;
    }

    .page {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }

    .chart {
        background: linear-gradient(to right, rgba(215,169,81,255), rgba(242,190,87,255), rgba(215,169,81,255));
        margin-left: auto;
        margin-right: auto;
    }
</style>

<body>
  <div id="container"></div>
  <script src="/react/pages/MeasureByQuarterForGeography.js"></script>
</body>
